@font-face {
    font-family: 'Againts';
    src: url('againts.otf') format('truetype'); /* Para TTF */
    /* También puedes usar WOFF o WOFF2 */
}
@font-face {
    font-family: 'Pricedown';
    src: url('Pricedown.otf') format('truetype'); /* Para TTF */
    /* También puedes usar WOFF o WOFF2 */
}
@font-face {
    font-family: 'Legal';
    src: url('COBAISSI.otf') format('truetype'); /* Para TTF */
    /* También puedes usar WOFF o WOFF2 */
}
/* Fondo general del cuerpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('fotos/icono.jpg');
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-size: auto; /* Ajusta según tus necesidades */
  background-attachment: fixed; /* Opcional: Mantén el fondo fijo al hacer scroll */
}
.principal{
    background-color: rgb(77, 17, 17); /* Fondo blanco semitransparente */
    color: #ffffff; /* Color del texto para contraste */
    padding: 20px;
    text-align: fixed;
    border-bottom: 2px solid #ccc; /* Opcional: añade una línea decorativa */
}
/* Cabecera con fondo plano */
.cabecera {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  color: #333; /* Color del texto para contraste */
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ccc; /* Opcional: añade una línea decorativa */
}
.pie{
    background-color: rgb(139, 10, 10); /* Fondo blanco semitransparente */
    color: #ffffff; /* Color del texto para contraste */
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc; /* Opcional: añade una línea decorativa */
    font-family: 'Legal', sans-serif;
  }
/* Resto del contenido */
main {
  padding: 20px;
  color: #222;
}
h1{
    font-family: 'Againts', sans-serif;
}
nav{
    font-family: 'Pricedown', sans-serif;
}